<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lzt.mybatis.mapper.CarMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="selectById" resultType="Car">
        select * from t_car where id = #{id}
    </select>

    <insert id="insertAccount">
        insert into t_act values(3, 'act003', 10000)
    </insert>

</mapper>