<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--byType表示根据类型自动装配-->
    <bean id="accountService" class="org.cqipu.edu.service.AccountService" autowire="byType"/>

<!--    <bean class="org.cqipu.edu.dao.AccountDao"/>-->

<!--    <bean id="x" class="org.cqipu.edu.dao.AccountDao"/>-->
<!--    <bean id="y" class="org.cqipu.edu.dao.AccountDao"/>-->
</beans>