<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lzt.mybatis.mapper.StudentMapper">

<!--    <resultMap id="studentResultMap" type="Student">-->
<!--        <id property="sid" column="sid"/>-->
<!--        <result property="sname" column="sname"/>-->
<!--        <result property="clazz.cid" column="cid"/>-->
<!--        <result property="clazz.cname" column="cname"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="studentResultMap" type="Student">-->
<!--        <id property="sid" column="sid"/>-->
<!--        <result property="sname" column="sname"/>-->
<!--        <association property="clazz" javaType="Clazz">-->
<!--            <id property="cid" column="cid"/>-->
<!--            <result property="cname" column="cname"/>-->
<!--        </association>-->
<!--    </resultMap>-->

    <resultMap id="studentResultMap" type="Student">
        <id property="sid" column="sid"/>
        <result property="sname" column="sname"/>
        <association property="clazz"
                     select="lzt.mybatis.mapper.ClazzMapper.selectByCid"
                     column="cid"
                     fetchType="eager"/>
    </resultMap>

    <select id="selectBySid" resultMap="studentResultMap">
        select s.* from t_student s where sid = #{sid}
    </select>

<!--    <select id="selectBySid" resultMap="studentResultMap">-->
<!--        select s.*, c.* from t_student s left join t_clazz c on s.cid = c.cid where s.sid = #{sid}-->
<!--    </select>-->

    <select id="selectByCid" resultType="Student">
        select * from t_student where cid = #{cid}
    </select>

</mapper>